:root {
  --black: #0d1b2a;
  --persian-blue: #1b263b;
  --dusk-blue: #415a77;
  --lavender-blue: #778da9;
  --alabaster-grey: #e0e1dd;
  --text-color: #212529;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Page layout */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Times New Roman", Times, serif;
  color: var(--text-color);
  background-color: var(--alabaster-grey);
  min-height: 100vh;
}

main {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 3rem 1.5rem;
}

/* Header */
.header {
  background-color: var(--dusk-blue);
  padding: 1.5rem 2rem;
}

.header-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-align: left;
}

.header-timer-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-align: left;
}

.header-timer-value {
  font-size: 1.50rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  text-align: left;
}

.timer {
    display: flex;
    align-items: center;      /* vertical alignment */
    gap: 0.5rem;              /* space between text and number */
}



/* Footer */
.footer {
  background-color: var(--dusk-blue);
  padding: 0.8rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
}

.footer a {
  color: var(--lavender-blue);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.welcome-message {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.h4-lead {
  font-weight: 350;
  margin-bottom: 1.5rem;
}
.p-lead {
  font-size: 1.25rem;
  margin-bottom: 1.8rem;
  font-style: italic;
}

.btn {
  background-color: var(--dusk-blue);
  color: #ffffff;
  border: none;
  padding:1rem 1.75rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-weight: 350;
}

.btn:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 0.5rem;
  border-color: cadetblue;
}

.text-area-container {
  width: 70%;
  height: 100%;
  padding: 1rem;
}

.text-area {
  color: var(--dusk-blue)
}

form {
  width: 100%;
  height: 100%;
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 28px;
  border: none;
  outline: none;
  resize: none;
  background-color: var(--alabaster-grey);
  color: #3b6366;
}
