:root {
    --bg-color: #dad7cd;
    --text-color: #333333;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --black: #0d1b2a;
    --persian-blue: #1b263b;
    --dusk-blue: #415a77;
    --lavendar-blue: #778da9;
    --alabaster-grey: #e0e1dd;
    --font-family-sans-serif: "Montserrat", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Base HTML styles */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}