{% extends "base.html" %}

{% block title %}Text Typing App{% endblock %}

{% block content %}

<body class="h-100 text-center">
    <div class="cover-container">
        <main class="px-3">
            <h1 class="welcome-message">Welcome to the Text Typing App</h1>
            <h4 class="h4-lead">Psst.</h4>
            <p class="p-lead">Don’t stop typing for more than 10 seconds, <br>
                or everything you’ve written will vanish.</p>
            <a href="/game" class="btn btn-lg btn-secondary fw-bold">Start</a>
        </main>
    </div>
</body>


{% endblock %}